body, html {
    margin:0;
    padding: 0;
    height: 100vh;
    background-image: url('images/Pozadina.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 31% 30% 15% auto;
    grid-template-areas: 
            "s3 s1"
            "s4 s1"
            "s4 s2"
            "s4 s5"
}
.section2,.section3,.section4,.section1,.section5{
    margin: 5px 40px;
    -webkit-box-shadow: 0px 0px 15px 5px black;
    -moz-box-shadow: 0px 0px 15px 5px black;
    box-shadow: 0px 0px 15px 5px black; 
    

}
.section1 {
    position: relative;
    grid-area: s1;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;

}

#izvuceniBrojevi {
    padding :0 5px;
    height: 150px;
}
.prviDeo , .drugiDeo{
    display: flex;
    width: 100%;
    height: 49%;
    justify-content: center;
    align-items: center;


}
.wrapper {
    height: 75px;
    width:75px
}
.wrapper1 {
    height: 100%;
    width:19%
}

.brojevi {
    display: flex;
    width : 70%;
    padding :10px;

}
.brojevi .ticketNumber1,
.brojevi .ticketNumber2,
.brojevi .ticketNumber3,
.brojevi .ticketNumber4,
.brojevi .ticketNumber5  {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    margin:3px;
    width: 90%;
    height: 90%;
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left , black, blue)

}
.winningNumber {
    border: 2px solid white;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    font-size: 25px;
    margin:7px;
    display: none;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left , black, blue)

}
.section1 .number {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 800;
    margin:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left , black, blue)


}
.section1 .number:hover , #addTicket:hover {
    cursor: pointer;
}
.section2 {
    grid-area: s2;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 {
    grid-area: s3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#ticketStatus1,
#ticketStatus2,
#ticketStatus3,
#ticketStatus4,
#ticketStatus5
 {
    display: none;
    font-size: 20px;
    
}
.ulogDiv {
    display: none;
    margin: 5px;
    font-size: 17px !important;
}
.ulozi{
    
    font-weight: 800;
}
#dugmici {
    display: flex;
    justify-content: center;
    align-items:center; 
}

.newWrapper {
    width: 30%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section3 h3 {
    text-align: center;
    font-size: 25px;
    margin: 15px;
    padding: 0;
}
.section4 {
    grid-area: s4;
    

}

.section5 {
    grid-area: s5;
    text-align: center;
    
}
.section5 p {
    margin:3px;
    padding: 0;
}
#ulogTekst {
    font-size: 25px;
    margin-right: 10px;
}
.section4 h4 {
    text-align: center;
    font-size: 25px;
    margin: 10px;
    padding: 0;
}
.section5 h4 {
    margin: 5px !important;
    padding: 0;
}
#errorMsg {
    margin: 2px;
    padding: 0;
    display: none;
}
.tiket {
    width: 90%;
    height: 16%;
    margin: 3px auto;
    border: 2px solid white;
    display: flex;
}
#odigraj , #addTicket {
    outline: none;
    padding:5px 10px;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    

}
.gore {
    display: flex;
    justify-content: center;
    align-items: center;
}
#dodaj {
    margin-left: 20px;
    padding: 5px 10px;
}
#odigraj :active , #addTicket:active {
    outline: none;
}
#addTicket {
    margin-left: 10px;
}
#tiket1, #tiket2, #tiket3,#tiket4,#tiket5 {
    display: none;
}

.boja {

    background: linear-gradient(to top left , red, yellow) !important;

}
#odigraj {
    display: none;
}
#odigraj:hover {
    cursor: pointer;
}
.dobitniTiket {
    background: linear-gradient(to right, #31b505, #0f3602);
}
.izgubljeniTiket {
    
    background: linear-gradient(to right,#f20505, #9e0202);
}

.section5 h4 {
    margin: 20px 5px 5px 5px;
    padding: 0;
    font-size: 25px;
    text-align: center
}

input {
    border-radius: 15px;
    width: 25%;
    text-align: center;
    height: 50px;
    margin: 8px 5px 10px 5px;
    outline: none;
    font-size: 20px;
}
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
@media (max-width:1200px) {
        .main {
            width: 90%;

        }
}

@media (max-width:1100px) {
    .main {
        width: 100%;
        
        }
        .section2,.section3,.section4,.section1,.section5{
            margin: 5px 5px;
  
        }   
    } 

    @media (max-width:660px) {
        body {
            height: auto;
        }
        .main {
            height: auto;
            height: 150%;

            grid-template-columns: 100%;
            grid-template-rows: 230px 450px 150px 500px 200px;
            grid-template-areas: 
            "s3"
            "s1"
            "s2"
            "s4"
            "s5"
        }
    }
 
